<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="auth">

    <select id="selectByLoginId" resultType="kr.co.iei.member.model.vo.Member">
        SELECT *
        FROM users
        WHERE loginId=#{loginId}
    </select>

    <select id="selectByUserId" resultType="kr.co.iei.member.model.vo.Member">
        SELECT *
        FROM users
        WHERE userId=#{userId}
    </select>

    <select id="selectByEmail" resultType="kr.co.iei.member.model.vo.Member">
        SELECT *
        FROM users
        WHERE LOWER(email)=LOWER(#{email})
    </select>

    <select id="selectByNickname" resultType="kr.co.iei.member.model.vo.Member">
        SELECT *
        FROM users
        WHERE nickname=#{nickname}
    </select>

    <insert id="insertMember" parameterType="kr.co.iei.member.model.vo.Member" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO users(
            loginId,
            email,
            password,
            nickname,
            gender,
            birthyear,
            phone,
            regionId,
            role,
            status
        )
        VALUES(
            #{loginId},
            #{email},
            #{password},
            #{nickname},
            #{gender},
            #{birthYear},
            #{phone},
            #{regionId},
            #{role},
            #{status}
        )
    </insert>

    <insert id="insertUserSport">
        INSERT INTO user_sports(
            user_id,
            sport_id
        )
        VALUES(
            #{userId},
            #{sportId}
        )
    </insert>

</mapper>
