<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">

    <select id="selectMemberById" resultType="kr.co.iei.member.model.vo.MemberResponse">
        SELECT
            userId,
            loginId,
            email,
            nickname,
            phone,
            profileImage,
            regionId,
            role,
            status
        FROM users
        WHERE userId=#{memberId}
    </select>

    <update id="updateMember">
        UPDATE users
        <set>
            email=#{request.email},
            nickname=#{request.nickname},
            phone=#{request.phone},
            regionId=#{request.regionId},
            <if test="request.profileImage != null and request.profileImage != ''">
                profileImage=#{request.profileImage},
            </if>
        </set>
        WHERE userId=#{memberId}
    </update>

</mapper>
