<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sport">

    <select id="selectSports" resultType="kr.co.iei.sport.model.vo.Sport">
        SELECT *
        FROM sports
        ORDER BY sport_id
    </select>

    <insert id="insertSport">
        INSERT INTO sports(
            name,
            category,
            is_active
        )
        VALUES(
            #{name},
            #{category},
            COALESCE(#{isActive},true)
        )
    </insert>

    <update id="updateSport">
        UPDATE sports
        SET
            name=#{request.name},
            category=#{request.category},
            is_active=#{request.isActive}
        WHERE sport_id=#{sportId}
    </update>

</mapper>
